@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-color: #121212;
    --main-color: rgb(255, 81, 0);
    --main-hover-color: rgb(255, 119, 56);
    --second-color: #1a1a1a;
    --third-color: #2c2c2c;
    --nav-text-color: #98999b;
    --nav-text-hover-color: #fffce4;
    --heading-color: #fffce4;
    --small-text-color: #c7c7c7;
    --very-small-text-color: #999999;
}

/* random */
h1 {
    color: var(--heading-color);
}

h2 {
    margin-left: 1.5%;
    color: var(--heading-color);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.825rem;
    margin: 1.3rem 0;
    margin-top: 8px;
    color: var(--small-text-color);
}

p {
    color: var(--very-small-text-color);
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 15px;
    transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-hover-color);

}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.wrapper {
    margin: 100px auto;
    max-width: 1100px;

}

.title {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 65px;
    margin-bottom: 20px;

}

.th1 {
    display: flex;
    justify-content: center;
}

.thr {
    width: 180px;
    justify-content: center;
}

.thr hr {
    background-color: var(--main-color);
    height: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

svg {
    display: block;
}

.curve {
    background-color: var(--bg-color);
    margin: 0;
    display: block;
    fill: var(--second-color);
}



.curved {
    background-color: var(--second-color);
    margin: 0;
    display: block;
    fill: var(--bg-color);
}

/* random end */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);

}



/* navbar */
header {
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: transparent;
}

.logo {
    cursor: pointer;
    color: var(--heading-color);
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: var(--nav-text-color);
    font-size: 17px;
}

.nav-area li a:hover {
    color: var(--nav-text-hover-color);
}

.btn-area {
    cursor: pointer;
    color: var(--heading-color);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: .35s;
}

.btn-area:hover {
    background-color: var(--main-hover-color);
}

::selection {
    color: #fff;
    background: #007bff;
}

/* navbar end */

/* home */

.home {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.bot-description {
    margin-right: 150px;
}

.home-btn {
    margin-top: 15px;
    width: auto;
    padding: 8px 50px;
    border-radius: 50px;
    border: none;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .35s;
}

.home-btn:hover {
    background-color: var(--main-hover-color);
}

.home-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

/* home end */
/* features */
.features {
    background-color: var(--second-color);
}



.feature h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
}

.features-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.feature {
    background: none;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--third-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.feature i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.feature1 i,
.feature1 h4,
.feature1 .cta {
    color: #42b7ca;
}

.feature1:hover {
    border: 2px solid #42b7ca;
}

.feature2 i,
.feature2 h4,
.feature2 .cta {
    color: #425fca;
}

.feature2:hover {
    border: 2px solid #425fca;
}

.feature3 i,
.feature3 h4,
.feature3 .cta {
    color: #9c42ca;
}

.feature3:hover {
    border: 2px solid #9c42ca;
}

.feature .cta span {
    font-size: 0.6rem;
}

.feature>* {
    flex: 1 1 100%;
}

.feature .cta {
    align-self: flex-end;
}

/* features end */

/* commands */
.wrapper nav {
    display: flex;
    justify-content: center;
}

.wrapper .categorys {
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}

.categorys span {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    border-radius: 50px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.categorys span.active,
.categorys span:hover {
    color: #fff;
    background: var(--main-color);
}

.commands {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.commands .command {
    width: 100%;
    color: #fff;
    margin-bottom: 15px;
    padding: 7px;
    height: auto;
    border-radius: 15px;
    background-color: var(--second-color);
}

.commands .command span {
    flex-direction: column;
    position: relative;
    display: flex;
    height: auto;
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
    border-radius: 15px;
    background-color: var(--third-color);
    overflow: hidden;
    margin-bottom: 1%;
    ;
}


.cmdinfo {
    margin-top: 1%;
    margin-left: 1%;
    justify-content: center;
}

.cmdinfo p {
    font-size: 1.25rem;
    color: var(--small-text-color);
}

.cmdali {
    margin-left: 1%;
    margin-bottom: 1%;
    justify-content: center;
    margin-top: -2.75%;
    color: var(--very-small-text-color);
}

.cmdali p {
    font-size: 1.1rem;
}

.commands .command.hide {
    display: none;
}

.commands .command.show {
    animation: animate 0.4s ease;
}

/* commands end */


/* faq */
.faq {
    background-color: var(--second-color);
}

main#questions {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.live-search-box {
    width: 100%;
    margin: 50px 0px;
    font-size: 16px !important;
    display: block;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid var(--bg-color) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.live-search-box:focus {
    border: 1px solid !important;
}

.topic {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--bg-color);
    margin: 5px 0px;
    border-radius: 10px;
}

.topic h2.question {
    padding-bottom: 20px;
}

.open {
    cursor: pointer;
    display: block;
    padding: 0px;
}

.open:hover {
    opacity: 0.7;
}

.expanded {
    background-color: var(--third-color);
    transition: all .3s ease-in-out;
}

.ptag {
    display: none;
}

.question {
    padding-top: 30px;
    padding-right: 40px;
    font-size: 18px;
    font-weight: 500;
    color: var(--small-text-color);
}

.answer {
    font-size: 16px;
    line-height: 16px;
    display: none;
    margin-bottom: 30px;
    text-align: justify;
    padding-bottom: 20px !important;
}

.faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    float: right;
    position: relative;
    top: -55px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: all .3s ease-in-out;
}

.faq-o {
    top: -50px;
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
}

.live-search-box {
    background: var(--bg-color);
    width: 100%;
    margin: 50px 0px;
    font-size: 16px !important;
    display: block;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid var(--third-color) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: var(--very-small-text-color);
}

/* faq end */
/* footer */
footer {
    display: flex;
    width: auto;
    height: 250px;
    background-color: var(--second-color);
    align-items: center;
}



.foot {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    color: white;
}

/* footer end */
/* @ */
@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}



@media (max-width: 1200px) {

    .wrapper nav .categorys {
        max-width: 600px;
    }

    .wrapper {
        max-width: 695px;
        margin: 30px auto;
    }

    nav .categorys span {
        padding: 7px 15px;
    }
}

@media all and (max-width:900px) {
    .features-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}


@media (max-width: 710px) {
    .wrapper nav .categorys {
        max-width: 600px;
    }

    .wrapper {
        max-width: 450px;
        margin: 30px auto;
    }

    nav .categorys span {
        padding: 7px 15px;
    }

    header {
        padding: 10px 25px;
    }

    .top-nav {
        display: none;
    }

    .home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .home-text {
        text-align: center;
    }

    .bot-description {
        margin-right: 0;
    }

    .nav-area li a {
        font-size: 12.25px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        margin: 30px auto;
    }

    .wrapper nav .categorys {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .categorys span {
        margin: 5px;
    }
}

/* @ end */